<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/0a4608b12c.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header class="home-header">
        <div class="home-header-img-logo">
        <img  src="/img/logo.jpg" alt="">
        <a class="home-header-a-bars"><i class ="fas fa-bars"></i></a>
        </div>
        <nav class="home-header-nav--menu">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">QUIENES</a></li>
                <li><a href="/service">SERVICIOS</a></li>
                <li><a href="/portfolio">PORTFOLIO</a></li>
                <li><a href="sucursal">SUCURSALES</a></li>
                <li><a href="contact">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main class="home-main">
        <div class="home-main-section-banner">
            <img src="/img/img-banner.jpg" alt="" width="410px">
        </div>

        <div class="home-main-section-products">
            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-section-product-img" src="/img/img-pdto-1.jpg" alt="">
                    <img class="home-main-section-product-sticker" src="/img/img-nuevo.png" alt="">
                    <a href="">AMPLIAR LA FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum dolor sit, amet consectet.</h4>
                <p class="home-main-section-product-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi cumque architecto quos non mollitia assumenda possimus asperiores nostrum id aspernatur?</p>
                <a class="home-main-section-product-button" href="">Ver mas</a>
            </article>

            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-section-product-img" src="/img/img-pdto-2.jpg" alt="">
                    <img class="home-main-section-product-sticker" src="/img/img-gratis.png" alt="">
                    <a href="">AMPLIAR LA FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum dolor sit, amet consectet.</h4>
                <p class="home-main-section-product-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi cumque architecto quos non mollitia assumenda possimus asperiores nostrum id aspernatur?</p>
                <a class="home-main-section-product-button" href="">Ver mas</a>
            </article>

            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-section-product-img" src="/img/img-pdto-3.jpg" alt="">
                    <img class="home-main-section-product-sticker" src="/img/img-descuento.png" alt="">
                    <a href="">AMPLIAR LA FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum dolor sit, amet consectet.</h4>
                <p class="home-main-section-product-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi cumque architecto quos non mollitia assumenda possimus asperiores nostrum id aspernatur?</p>
                <a class="home-main-section-product-button" href="">Ver mas</a>
            </article>

            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-section-product-img" src="/img/img-pdto-1.jpg" alt="">
                    <img class="home-main-section-product-sticker" src="/img/img-nuevo.png" alt="">
                    <a href="">AMPLIAR LA FOTO</a>
                </div> 
                <h4 class="home-main-section-product-title">Lorem ipsum dolor sit, amet consectet.</h4>
                <p class="home-main-section-product-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi cumque architecto quos non mollitia assumenda possimus asperiores nostrum id aspernatur?</p>
                <a class="home-main-section-product-button" href="">Ver mas</a>
            </article>

            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-section-product-img" src="/img/img-pdto-2.jpg" alt="">
                    <img class="home-main-section-product-sticker" src="/img/img-gratis.png" alt="">
                    <a href="">AMPLIAR LA FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum dolor sit, amet consectet.</h4>
                <p class="home-main-section-product-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi cumque architecto quos non mollitia assumenda possimus asperiores nostrum id aspernatur?</p>
                <a class="home-main-section-product-button" href="">Ver mas</a>
            </article>

            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-section-product-img" src="/img/img-pdto-3.jpg" alt="">
                    <img class="home-main-section-product-sticker" src="/img/img-descuento.png" alt="">
                    <a href="">AMPLIAR LA FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum dolor sit, amet consectet.</h4>
                <p class="home-main-section-product-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi cumque architecto quos non mollitia assumenda possimus asperiores nostrum id aspernatur?</p>
                <a class="home-main-section-product-button" href="">Ver mas</a>
            </article>
        </div>
    </main>

<footer class="home-footer">
    <nav class="home-footer-nav--menu">
        <ul>
            <li><a href="/">HOME </a></li>
            <li><a href="/about">QUIENES </a></li>
            <li><a href="/service">SERVICIOS </a></li>
            <li><a href="/portfolio">PORTFOLIO </a></li>
            <li><a href="sucursal">SUCURSALES </a></li>
            <li><a href="contact">CONTACTO</a></li>
        </ul>
    </nav>
</footer>

    
</body>
</html>