/* HEADER */

.home-header {
    text-align: center;
}

.home-header-img-logo{
    
    margin: 15px auto 30px;
    width: 180px;
}


.home-header-img-logo img {
    width: 100%;
    border-radius: 50%;
    border: solid 2px var(--colorgris);
    margin-bottom: 30px;
}

.home-header-a-bars {
    background-color: var(--colorgris);
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: inline-block;
    font-size: 2rem;
    border-radius: 5px;
}

.home-header-nav--menu ul li {
    background-color: var(--colorgris);
    width: 100%;
    margin-bottom: 2px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 8px;
}
.home-header-nav--menu ul li:last-child {
    margin-bottom: 0;
}


/* MAIN */

.home-main-section-banner {
    display: none;
}

.home-main-section-products {
    margin-top: 30px;
}

.home-main-section-product-box {
    position: relative;
    margin-bottom: 30px;
}
.home-main-section-product-sticker{
    position: absolute;
    top: 0px;
    right: 10px;

}

.home-main-section-product-box a {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

.home-main-section-product-title {
    margin: 20px 0;
    font-size: 1.2rem;
}

.home-main-section-product-button {
    display: inline-block;
    padding: 10px 10px;
    margin: 20px 0;
    background-color: var(--colorgris);

}



/* FOOTER */

.home-footer-nav--menu ul li{
    background-color: var(--colorrojo);
    width: 100%;
    margin-bottom: 2px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 8px;
    text-align: center;
}

.home-footer-nav--menu ul li:last-child {
    margin-bottom: 0;
}